:root{
    --dark_orange: #973131;
    --slightly-dark-orange:#C74837;
    --orange: #F59032;
    --LogoFont: 'ABeeZee';
    --interFont: 'Inter', sans-serif;
    --pale-orange:#F2EBE1;
    --white: #fff;
    --Source-Sans-Pro: 'Source Sans Pro';
    --Black: #000;
    --bright-black: #424242;
    --light-grey: #E0E0E0;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 5.653rem;
}
h2 {
    font-size: 3.998rem;
}
h3 {
    font-size: 2.827;
}
h4 {
    font-size: 1.999rem;
}
h5 {
    font-size: 1.414rem;
}
p {
    font-size: 1.4rem;
}

li{
    font-family: var(--Source-Sans-Pro);
    font-weight: 400;
    color: var(--white);
    font-size: 2rem;
}
html{
    font-family: 'ABeeZee', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 92px;
    background-color: var(--dark_orange);
    align-items: center;
    padding: 0 2rem;
    position: relative;
   
}

.navLogo{
    padding-left: 4rem;
    font-family: var(--LogoFont);
    font-weight: 700;
    color: var(--white);
}

.navLogo a {
    color: var(--white);
    text-decoration: none;
}

.navLinks {
    padding-right: 10rem;
    color: var(--white);
    z-index: 5;
}
.navLinks h4 {
    font-family: var(--interFont);
    font-weight: 400;
    cursor: pointer;
}
.navLinks h4.active{
    color: var(--orange);
}

#navListLinks{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 295px;
    height: 400px;
    background-color: var(--dark_orange);
    box-shadow: 0px 0px 5px #000;
    justify-content: center;
    padding-left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 7rem;
    margin: 0;
    transition: all 0.3s;

}

#navListContainer {
    opacity: 0;
    position: absolute;
    top: -10px;
    right: -500px;
    transition: all 0.5s;
    display: none;
}

#navListContainer.active {
    opacity: 1;
    right: 0px;
    display: block;
}

.verticalLine {
    width: 90%;
    border-bottom: 1.2px solid rgba(0, 0, 0, 0.381);
    align-self: center;
}

#navListLinks a {
    color: var(--white);
    text-decoration: none;
    text-align: center;
}

.navLinkItem {
    font-size: 2rem;
    font-family: var(--interFont);
    font-weight: 400;
    padding: 1.5rem 0;
}

.navVerticalLine{
    border-bottom: 1px solid #fff;
    width: 5rem;
    position: absolute;
}

.navVerticalLine.active {
    border: 2px solid var(--orange);
}

.navVerticalLine.left{
    top: 46px;
    right: 190px;
}

.navVerticalLine.right{
    top: 46px;
    right: 55px;

}

/* HERO */
.hero {
    align-items: center;
    width:100%;
    height: 448px;
    background-image: url(../images/Polo-hero-v2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: var(--LogoFont);
    padding-left: 4rem;
    padding-top: 8rem;
    background-color: var(--Black);
}

.heroHeading {
    color: var(--white);
}

.heroSubHeading {
    color: var(--white);
    font-weight: 400;
    font-size: 3.2rem;
}


/* SUBNAV */
.navSub {
    width: 100%;
    height: 60px;
    background-color: var(--dark_orange);
}

.navSubLinks{
    display: flex;
    padding: 0;
    text-align: center;
    list-style: none;
    align-items: center;
    padding-top: 1.8rem;
    margin: 0;
    padding-left: 6rem;
}

.navSubLinks a{
    text-decoration: none;
    color: var(--white);
}


.navSubLinkItem {
    font-size: 1.6rem;
    margin-left: 8rem;
    font-family: var(--Source-Sans-Pro);
    font-weight: 400;
    color: var(--white);
    transition: color 0.5s;
}

.navSubLinkItem:hover {
    color: var(--orange);
}

/* wrapper */

/* products */
#arrow {
    display: none;
}
.products {
    font-family: var(--Source-Sans-Pro);
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 7.5rem 5.6rem;
}
.product_item {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 405px;
    position: relative;
    margin-left: 3rem;
}

.product_img {
    width: 220px;
    height: 330px;
    border-radius: 10px;
    position: relative;
    transition: box-shadow 0.5s;
    cursor: pointer;
}

.product_img:hover {
    box-shadow: 0px 0px 5px var(--bright-black);
}

.product_title{
    margin-top: 2.5rem;
    margin-bottom: 1.4rem;
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
}

.product_price {
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 0.6rem;
}

.product_discount_price {
    color: var(--slightly-dark-orange);
    padding-right: 0.5rem;
}

.product_old_price {
    color: var(--bright-black); 
    font-weight: 400;
}
.product_old_price em{
    text-decoration: line-through;
    color: inherit; 
    font-weight: inherit;
}

.discount_rate {
    background-color: var(--slightly-dark-orange);
    color: var(--white);
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    font-weight: 700;
    position: absolute;
    padding: 0.5rem;
    top: 294px;
    left: 0;
}

.label {
    background-color: var(--Black);
    color: var(--white);
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    font-weight: 700;
    position: absolute;
    top: 294px;
    left: 70px;
    padding: 0.5rem;
}

/* info section */
.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 342.5px;
    width: 100%;
    padding-top: 8.6rem;
    justify-content: center;
    font-family: var(--LogoFont);
    color: var(--slightly-dark-orange);
}

.info_img {
    background-color: var(--pale-orange);
}

.info_img img {
    width: 685px;
    height: 342.5px;
    
}

.info_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--pale-orange);
    padding-left: 17.1rem;
}

.info_detail_title {
    font-size: 1.8rem;
    padding-top: 3rem;
}

.info_detail_header {
    font-size: 3.2rem;
    padding-top: 1.5rem;
    padding-bottom: 4rem;
}

.info-btn {
    background-color: var(--dark_orange);
    font-weight: 700;
    padding: 1.5rem 2.2rem;
    color: var(--white);
    font-size: 1.6rem;
    border-radius: 10px;
    border: 0;
}

.info-btn:hover {
    background-color: var(--slightly-dark-orange);
}

/* CONTACT US */
.contact {
    background-color: var(--light-grey);
    width: 100%;
    height: 150px;
    margin-top: 3.5rem;
    font-family: var(--Source-Sans-Pro);
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    padding: 3rem 18rem 0 18rem;
}



.contact_button {
    font-size: 13px;
    font-weight: 700;
    padding: 1rem 10rem;
    margin-bottom: 2rem;
    border: 1px solid var(--Black);  
}

/* FOOTER NAV */ 
.footerNav {
    background-color: var(--slightly-dark-orange);
    width: 100%;
    height: 350px;
    font-family: var(--Source-Sans-Pro);
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.footerNavList a {
    text-decoration: none;
}

.footerNavTitle {
    font-weight: 400;
    padding-bottom: 1.5rem;
}

.footerNavList {
    list-style: none;
}

.footerNavItem {
    padding: 1rem 0;
    font-size: 1.4rem;
}

.footerNavItem:hover {
    border: 1px solid var(--bright-black);
}

@media screen and (max-width:450px){
    .wrapper {
        max-width: 350px;
    }

    /* navBar */
    .navLogo {
        padding-left: 0;
    }
    .navLogo h2{
        font-size: 2rem;
    }

    .navLinks {
        padding-right: 4rem;
    }

    .navLinks h4 {
        font-size: 1.6rem;
    }

    .navLinks h4.active {
        padding-right: 6rem;
        font-size: 2rem;
    }

    .navVerticalLine {
        width: 2rem;
    }

    .navVerticalLine.left {
        top: 46px;
        right: 120px;
    }

    .navVerticalLine.left.active {
        top: 45px;
        right: 190px;
    }

    .navVerticalLine.right {
        top: 46px;
        right: 25px;
    }
    .navVerticalLine.right.active{
        top: 45px;
        right: 85px;
    }

    .navSub .wrapper {
        max-width: 800px;
    }

    .navSubLinks {
        overflow: hidden;
        padding-top: 2rem;
        margin-left: 1rem;
        padding-left: 0;
    }

    .navSubLinks .navSubLinkTitle {
        width: 13rem;
        font-size: 1.8rem;
    }



    .navSubLinkItem {
        font-size: 1.4rem;
        margin-left: 1rem;
        font-family: var(--Source-Sans-Pro);
        font-weight: 400;
        color: var(--white);
        transition: color 0.5s;
        width: 11rem;
    }


    /* products */
    .products {
        overflow: hidden;
        padding: 6.5rem 0;
        height: 56rem; 
        margin-left: 3rem;
    }

    .product_item:first-child{
        margin-left: 0rem;
    }

    .product_item {
        flex-direction: column;
        width: 22rem;
        height: 40.5rem;
        position: relative;
        padding: 0 1rem;
    }

    .product_item {
        margin-left: 7rem;
    }

    .discount_rate {
        top: 335px;
        left: 10px;
    }
    
    .label {
        top: 335px;
        left: 80px;
    }

    
    
    .product_img {
        width: 25rem;
        height: 38rem;
        border-radius: 10px;
        position: relative;
        transition: box-shadow 0.5s;
        cursor: pointer;
    }

    /* info */
    .info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 320px 270px;
        width: 100%;
        padding-top: 5rem;
        justify-content: center;
        font-family: var(--LogoFont);
        color: var(--slightly-dark-orange);
    }

    .info_details {
        display: flex;
        flex-direction: column;
        background-color: var(--pale-orange);
        padding-left: 0;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    .info_img img {
        width: 100%;
        height: 100%;
    }
    .info_detail_title {
        font-size: 2.5rem;
        padding-top: 0;
    }
    
    .info_detail_header {
        font-size: 4rem;
        padding-top: 1.5rem;
        padding-bottom: 4rem;
    }
    
    .info-btn {
        background-color: var(--dark_orange);
        font-weight: 700;
        padding: 2.5rem 4.2rem;
        color: var(--white);
        font-size: 2rem;
        border-radius: 30px;
        border: 0;
    }

    

    .contact {
       flex-wrap: wrap;
       flex-direction: row;
       padding: 0;
       padding-top: 2rem;
       align-items: center;
       padding-bottom: 3rem;
       height: 160px;
    }

    .contact_item {
        padding-bottom: 1rem;
        text-align: center;
    }


    .contact_button {
        padding: 1rem 7rem;
        margin-bottom: 0.5rem;
    }

    /* FOOTER */
    .footerNav {
        padding-top: 3rem;
    }
    .footerNavCol {
        padding: 0 1rem;
    }
    .footerNavCol h4{
        font-size: 1.8rem;
    }


   
    
}
